<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gumeng.mapper.CommentsMapper">

    <resultMap id="BaseResultMap" type="com.gumeng.domain.Comments">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="pageId" column="page_id" jdbcType="INTEGER"/>
        <result property="parent" column="parent" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="forUser" column="for_user" jdbcType="VARCHAR"/>
        <result property="thumbsUp" column="thumbs_up" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="delete" column="`delete`" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,page_id,parent,content,for_user,
        thumbs_up,create_time,update_time,`delete`
    </sql>

    <!-- 获取根评论 -->
    <select id="getRootCommentsByPageId" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM comments
        WHERE page_id = #{postId} AND (parent IS NULL OR parent = '')
        AND `delete` = '0'
        ORDER BY create_time DESC
    </select>

    <!-- 增加评论点赞数 -->
    <update id="incrementLikeCount">
        UPDATE comments
        SET thumbs_up = thumbs_up + 1
        WHERE id = #{commentId}
    </update>

    <!-- 减少评论点赞数 -->
    <update id="decrementLikeCount">
        UPDATE comments
        SET thumbs_up = thumbs_up - 1
        WHERE id = #{commentId} AND thumbs_up > 0
    </update>
</mapper>