<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gumeng.mapper.IchRegionMapper">

    <resultMap id="BaseResultMap" type="com.gumeng.domain.pages.IchRegion">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,description
    </sql>

    <select id="getAllRegions" resultType="com.gumeng.domain.pages.IchRegion">
        SELECT
            *
        FROM
            ich_region
    </select>
    
    <select id="getRegionNameById" resultType="java.lang.String">
        SELECT name FROM ich_region WHERE id = #{regionId}
    </select>

</mapper> 