<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gumeng.mapper.ModelInfoMapper">

    <resultMap id="BaseResultMap" type="com.gumeng.domain.ModelInfo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userUid" column="user_uid" jdbcType="BIGINT"/>
            <result property="taskId" column="task_id" jdbcType="VARCHAR"/>
            <result property="modelUrl" column="model_url" jdbcType="VARCHAR"/>
            <result property="renderUrl" column="render_url" jdbcType="VARCHAR"/>
            <result property="baseModelUrl" column="base_model_url" jdbcType="VARCHAR"/>
            <result property="pbrModelUrl" column="pbr_model_url" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="value" column="value" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="isCommon" column="is_common" jdbcType="TINYINT"/>
            <result property="isDisable" column="is_disable" jdbcType="TINYINT"/>
            <result property="disableCause" column="disable_cause" jdbcType="VARCHAR"/>
            <result property="modelExtra" column="model_extra" jdbcType="VARCHAR"/>
            <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_uid,task_id,
        model_url,render_url,base_model_url,
        pbr_model_url,status,type,
        value,create_time,is_common,
        is_disable,disable_cause,model_extra,
        is_delete
    </sql>
</mapper>
