<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gumeng.mapper.shop.OrderMapper">

    <resultMap id="BaseResultMap" type="com.gumeng.domain.shop.Order">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="orderNo" column="order_no" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="productId" column="product_id" jdbcType="BIGINT"/>
            <result property="quantity" column="quantity" jdbcType="INTEGER"/>
            <result property="totalPrice" column="total_price" jdbcType="DECIMAL"/>
            <result property="usedPoints" column="used_points" jdbcType="INTEGER"/>
            <result property="usedMoney" column="used_money" jdbcType="DECIMAL"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="receiverName" column="receiver_name" jdbcType="VARCHAR"/>
            <result property="receiverPhone" column="receiver_phone" jdbcType="VARCHAR"/>
            <result property="receiverAddress" column="receiver_address" jdbcType="VARCHAR"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,order_no,user_id,product_id,quantity,total_price,
        used_points,used_money,status,receiver_name,receiver_phone,
        receiver_address,created_at,updated_at
    </sql>
</mapper>
