<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gumeng.mapper.shop.UserBalanceMapper">

    <resultMap id="BaseResultMap" type="com.gumeng.domain.shop.UserBalance">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="totalAmount" column="total_amount" jdbcType="DECIMAL"/>
            <result property="currentAmount" column="current_amount" jdbcType="DECIMAL"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,total_amount,current_amount,update_time
    </sql>


    <select id="getBalance" resultType="com.gumeng.domain.shop.UserBalance">
        SELECT * FROM user_balance WHERE user_id = #{userId}
    </select>


</mapper>
