<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gumeng.mapper.shop.UserPointsMapper">

    <resultMap id="BaseResultMap" type="com.gumeng.domain.shop.UserPoints">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="totalPoints" column="total_points" jdbcType="INTEGER"/>
        <result property="currentPoints" column="current_points" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,total_points,current_points,update_time
    </sql>

    <insert id="addUserPoints">
        INSERT INTO user_points (user_id,
                                 total_points,
                                 current_points,
                                 update_time)
        VALUES (
                #{userId},
                #{totalPoints},
                #{currentPoints},
                now()
               )

    </insert>

    <update id="updateUserPointsById">
        UPDATE user_points
        SET
            total_points = #{totalPoints},
            current_points = #{currentPoints},
            update_time = now()
        WHERE user_id = #{userId}
    </update>


    <select id="getPoints" resultType="com.gumeng.domain.shop.UserPoints">
        SELECT *
        FROM user_points
        WHERE user_id = #{userId}
    </select>


</mapper>
