<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gumeng.mapper.shop.UserPointLogMapper">

    <resultMap id="BaseResultMap" type="com.gumeng.domain.shop.UserPointLog">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="changeType" column="change_type" jdbcType="VARCHAR"/>
            <result property="changeValue" column="change_value" jdbcType="INTEGER"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,change_type,change_value,description,create_time
    </sql>


    <select id="getUserPointLog" resultType="com.gumeng.domain.shop.UserPointLog">
        SELECT * FROM gumeng.user_point_log
        WHERE user_id = #{userId}
    </select>
</mapper>
